---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-helmrelease
  namespace: traefik
spec:
  interval: 10m0s
  chart:
    spec:
      chart: traefik
      version: 38.0.2
      sourceRef:
        kind: HelmRepository
        name: traefik-helmrepository
        namespace: flux-system
  values:
    global:
      sendAnonymousUsage: false
      checkNewVersion: false
    additionalArguments:
      - "--api.dashboard=true"
      - "--serversTransport.insecureSkipVerify=true"
      - "--log.level=DEBUG"
    deployment:
      kind: DaemonSet
    ports:
      traefik:
        expose:
          default: true
      web:
        port: 80
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        port: 443
        tls:
          enabled: true
          options: "default"
    ingressClass:
      name: traefik
    providers:
      kubernetesIngress:
        ingressClass: traefik
    service:
      annotations:
        metallb.io/address-pool: metallb-system-ipaddresspool
