---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-helmrelease
  namespace: traefik
spec:
  interval: 10m0s
  chart:
    spec:
      chart: traefik
      version: 39.0.1
      sourceRef:
        kind: HelmRepository
        name: traefik-helmrepository
        namespace: flux-system
      dependsOn:
        - name: infrastructure-configs
          namespace: flux-system
  values:
    global:
      sendAnonymousUsage: false
      checkNewVersion: false
    additionalArguments:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--serversTransport.insecureSkipVerify=true"
    deployment:
      kind: DaemonSet
    ports:
      traefik:
        expose:
          default: true
      web:
        port: 80
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
      websecure:
        port: 443
        http:
          tls:
            enabled: true
            options: "default"
        http3:
          enabled: true
          advertisedPort: 443
    ingressClass:
      name: traefik
    providers:
      kubernetesIngress:
        ingressClass: traefik
    service:
      annotations:
        metallb.io/address-pool: metallb-system-ipaddresspool
