---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-helmrelease
  namespace: traefik
spec:
  interval: 10m0s
  chart:
    spec:
      chart: traefik
      version: 38.0.1
      sourceRef:
        kind: HelmRepository
        name: traefik-helmrepository
        namespace: flux-system
  values:
    global:
      sendAnonymousUsage: false
      checkNewVersion: false
    additionalArguments:
      - "--serversTransport.insecureSkipVerify=true"
      - "--log.level=DEBUG"
    deployment:
      kind: DaemonSet
    ports:
      web:
        port: 80
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        port: 443
        tls:
          enabled: true
          options: "default"
    providers:
      kubernetesCRD:
        ingressClass: traefik-external
      kubernetesIngress:
        publishedService:
          enabled: false
    service:
      annotations:
        metallb.io/address-pool: metallb-system-ipaddresspool
      loadBalancerIP: 192.168.1.100
