---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: longhorn-ingress
  namespace: longhorn
  annotations:
    external-dns.alpha.kubernetes.io/hostname: longhorn.local.icutum.es
    traefik.ingress.kubernetes.io/router.tls: true
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - longhorn.local.icutum.es
      secretName: longhorn-local-icutum-es-tls
  rules:
    - host: longhorn.local.icutum.es
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: longhorn-frontend
                port:
                  number: 80
